<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登你媽入</title>
</head>
<body>
    <form action="">
        <label for="">帳號</label><input type="text">
        <label>密碼</label><input type="text">
        <button>送出</button>
    </form>
</body>
</html>