<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>登你媽入</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="form_control">
        <img class="logo" src="olpcs.png" alt="">
        <div class="line">
            <label for="">帳號</label><input type="text" /> 
        </div>
        <div class="line">
            <label>密碼</label><input type="password" />
        </div>
        
        <button>送出</button>
    </div>
  </body>
</html>
