*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: steelblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_control{
    width:500px;
    height: 500px;
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_control img.logo{
    width:250px;
    height: auto;
}
.form_control .line input{
    overflow: hidden;
    border-radius: 10px;
    margin: 1rem;
    font-size: 1.5rem;
}
.form_control .line input:focus{
    outline: none;
    border: 2px solid orange;
}
.form_control  button{
    margin-top: 1rem;
    font-size: 1.25rem;
    padding: 0.125rem 2rem;
    border-radius: .75rem;
    background-color: black;
    color: white;
    cursor: pointer;
}